body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h2 {
  color: black;
  transform: rotate(3deg);
  background: #cef1f2;
  border-radius: 30%;
}

h4 {
  transform: rotate(358deg);
  background: aliceblue;
  display: inline-block;
  border-radius: 30%;
}

p {
  margin-right: 20px;
}

.faq {
  font-style: italic;
}
